<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_MERGE_OUTPUT" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Program Files\Java\jdk-15.0.1\bin\javac.exe"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-h include --class-path ${project_classpath:TeaseLib} -d &quot;${env_var:TEMP}&quot; src/teaselib/core/texttospeech/implementation/TeaseLibTTS.java  src/teaselib/core/speechrecognition/sapi/TeaseLibSR.java src/teaselib/core/devices/xinput/XInputDevice.java src/teaselib/core/ai/TeaseLibAI.java src/teaselib/core/ai/perception/HumanPose.java src/teaselib/core/ai/perception/SceneCapture.java src/teaselib/core/ai/deepspeech/DeepSpeechRecognizer.java"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/TeaseLib}"/>
</launchConfiguration>
